:host {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    background: white;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    background-image: url("../../assets/images/headerBG.jpg");
}

h2 {
    text-align: center;
    line-height: 75px;
    margin: 0;
}

i {
    position: absolute;
    right: 25px;
    top: 0;
    font-size: 30px;
    line-height: 75px;
    cursor: pointer;
    /*transition: all 2s ease;*/
}

i:hover {
    /*transform: scale(1.5) rotateX(360deg);*/
}
