* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    position: relative;
    font-family: Roboto-Regular;
}

body h1, h2, h3 {
    font-family: Bitter-Regular;
    font-size: 35px;
}

p {
    font-family: Roboto-Regular;
    font-size: 20px;
}

app-root {
    height: 100%;
}

.app-wrapper{
    position: absolute;
    top: 75px;
    bottom: 35px;
    width: 100%;
}

.content {
    position: relative;
    height: 100%;
    padding: 0 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
