<p>
    Welcome to the Homepage of Statistical Machine Learning Group (SMLG) at Biostatistics Department,
    <a href="http://stempel.fiu.edu/index.html">Robert Stempel College of Public Health & Social Work</a> at
    <a href="http://www.fiu.edu/">Florida International University</a>.
    SMLG is led by <a href="http://stempel.fiu.edu/faculty-and-staff/people/yoo.html">Dr. Changwon Yoo</a>.
    We mainly analyze big and complex data using <a href="https://datascience.nih.gov/bd2k">Big Data Analytics (BDA)</a>,
    e.g., statistical and machine learning methods. Projects of SMLG ranges from clinical translational models
    to gene-gene and gene-environmental interactions in chronic diseases using BDA. We are currently supported
    by national and international grant funds from agencies such as <a href="http://www.nih.gov/">NIH</a> and
    <a href="http://www.snuh.org/english/">SNUH</a>.
</p>
<h4>
    Selected Research Projects:
</h4>
<p>
    Identifying Key Genes that cause Aggressive Brain Cancer
</p>
<p>
    Analysis of Clinical Parameters of Benign Prostatic Hyperplasia using Causal Bayesian Network
</p>
<p class="small">
    To access some links and complete list of projects, please register in the SMLG Discussion Forum and/or SMLG Gitlab
</p>
