<p>
    Welcome to the Homepage of Statistical Machine Learning Group (SMLG) at Biostatistics Department,
    <a href="http://stempel.fiu.edu/index.html">Robert Stempel College of Public Health & Social Work</a> at
    <a href="http://www.fiu.edu/">Florida International University</a>.
    SMLG is led by <a href="http://stempel.fiu.edu/faculty-and-staff/people/yoo.html">Dr. Changwon Yoo</a>.
    We mainly analyze big and complex data using <a href="https://datascience.nih.gov/bd2k">Big Data Analytics (BDA)</a>,
    e.g., statistical and machine learning methods. Projects of SMLG ranges from clinical translational models
    to gene-gene and gene-environmental interactions in chronic diseases using BDA. We are currently supported
    by national and international grant funds from agencies such as <a href="http://www.nih.gov/">NIH</a> and
    <a href="http://www.snuh.org/english/">SNUH</a>.
</p>
<h4 class="sectionHead">
    Selected Research Projects:
</h4>
<p class="bullet">
    <a href="http://smlg.fiu.edu/phpbb/viewforum.php?f=10">Identifying Key Genes that cause Aggressive Brain Cancer</a>
</p>
<p class="small">
    Funded by NIGMS. PI: Changwon Yoo The major goal of this project is to develop a statistical model to
    identify key genes that cause aggressive brain cancer and further model the key genes causal interactions.
</p>
<p class="bullet">
    <a href="http://smlg.fiu.edu/phpbb/viewforum.php?f=20">Analysis of Clinical Parameters of Benign Prostatic Hyperplasia using Causal Bayesian Network</a>
</p>
<p class="small">
    Funded by Seoul National University Hospital, Seoul, Korea. Subcontract PI: Changwon Yoo We propose to learn interactions
    among the genes and environment factors. We will test the model using simulated data. Based on the clinical electronic database
    of Benign Prostatic Hyperplasia patients, we will develop a statistical model that provides better ways to measure and
    understanding of Bladder Outlet Obstruction.
</p>
<p class="small yes-margin">
    To access some links and complete list of projects, please register in the <a href="http://smlg.fiu.edu/phpbb/">SMLG Discussion Forum</a>
    and/or <a href="http://smlg.fiu.edu/gitlab/">SMLG Gitlab</a>
</p>
<h4 class="sectionHead">
    Selected Publications:
</h4>
<p class="bullet">
    C. Yoo, V. Thorsson, G.F. Cooper. <em>Discovery of causal relationships in a gene-regulation pathway from a mixture of experimental and
    observational DNA microarray data. Pacific Symposium On Biocomputing. p498-509, 2002</em>
</p>
<p class="bullet">
    C. Yoo, E. Blitz. <em>Local Causal Discovery Algorithm using Causal Bayesian networks. Annals of the NY Academy of Science, 1158, p93-101, 2009</em>
</p>
<p class="bullet">
    C. Yoo, <em>Bayesian Method for Causal Discovery of Latent-Variable Models from a Mixture of Experimental and Observational Data,
    Computational Statistics and Data Analysis, 56, p2183-2205, 2012</em>
</p>
<p class="bullet">
    C. Yoo, E. Brilz, <em>Efficient and Scalable Bayesian Statistical Method for Identifying Causal Relationships from Intervention Studies,
    Advances and Applications in Statistics, 37(2), p95-122, 2013</em>
</p>
<p class="small yes-margin">
    Dr. Yoo’s early publications represents novel statistical causal discovery methods.
    At that time most of the gene-gene interactions were modeled with correlation not causation.
    In the new systems biology era, the importance of causal model has been emphasizes by many scholars;
    e.g., Kitano (in his 2002 Science article)* references Dr. Yoo’s causal analysis paper and states
    that the causal modeling that Dr. Yoo is using is the future direction that systems biology researchers
    should follow. Indeed, now the causal modeling has become more and more important in systems biology research.
    * Kitano, H., Systems Biology: a brief overview, Science, 2002 Mar 1;295(5560):1662-4.

</p>
